<ng-container *ngIf="userId">
    <div>
        <button type="submit" class="btn btn-primary" (click)="cancel()">Cancel Change</button>
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <h2>Change Password</h2>
                <form>
                    <div class="form-group">
                        <label for="oldPassword">Old Password</label>
                        <input [(ngModel)]="passwordChangeModel.oldPassword" name="oldPassword" type="password"
                            class="form-control" id="oldPassword" placeholder="Old Password">
                    </div>

                    <br>

                    <div class="form-group">
                        <label for="newPassword">New Password</label>
                        <input [(ngModel)]="passwordChangeModel.newPassword" name="newPassword" type="password"
                            class="form-control" id="newPassword" placeholder="New Password">
                    </div>

                    <br>

                    <div class="form-group">
                        <label for="verifyPassword">Verify New Password</label>
                        <input [(ngModel)]="newPasswordVerification" name="verifyPassword" type="password"
                            class="form-control" id="verifyPassword" placeholder="Verify Password">
                    </div>
                </form>
            </div>

            <div class="text-center">
                <p class="error-message">
                    {{errorMessage}}
                </p>
                <button type="submit" class="btn btn-primary" (click)="saveNewPassword()">Update Password</button>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="forgotPassword">

    <div>

        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <h2>Reset Password</h2>
                <form>
                    <br>

                    <div class="form-group">
                        <label for="email">User E-Mail</label>
                        <input [(ngModel)]="eMail" name="email" type="email"
                            class="form-control" id="email" placeholder="User Email">
                    </div>
                </form>
            </div>

            <div class="text-center">
                <p class="error-message">
                    {{errorMessage}}
                </p>
                <p class="success-message" >
                    {{successMessage}}
                </p>
                <button type="submit" class="btn btn-primary" (click)="resetPassword()">Reset Password</button>
            </div>
        </div>

    </div>

</ng-container>