/* You can add global styles to this file, and also import other style files */
.btn{
    margin-top: 7px;
    margin-right: 7px;
    color: #f5f6f6 !important;
    border-color: #f5f6f6 !important;
    background-color: #3a70bd !important;
}

.btn:hover{
    background-color: #f5f6f6 !important;
    color: #3a70bd !important;
    border-color: #3a70bd !important;
}

a, .nav-item{
    text-align: center;
    color: #3a70bd !important;
    
}

a:hover{
    color: #f5f6f6 !important;
    background-color: #3a70bd !important;
}

h1{
    text-align: center;
}

div{
    margin: 1%;
}

.error-message{
    color: #EE4B2B;
}
.success-message{
    color: #39ff14;
}

body{
    background-color: #f5f6f6; /*#94989a;*/
}