/* You can add global styles to this file, and also import other style files */
.btn{
    margin-top: 7px;
    margin-right: 7px;
}

h1{
    text-align: center;
    color: #3a70bd;
}

div{
    margin: 1%;
}

.error-message{
    color: #EE4B2B;
}
.success-message{
    color: #39ff14;
}

body{
    background-color: #f5f6f6;
}