<!--
    User Profile Page
-->
<ng-container *ngIf="user">
    <div>
        <h1>
            Hello, {{user.firstName}}
        </h1>
    </div>
</ng-container>


<!--
    Login Page
-->

<ng-container *ngIf="!user">
    <button type="submit" class="btn btn-primary" disabled>Create Profile</button>
    <div>
        <div class="row justify-content-md-center">
            <div class="col-3">
                <form>
                    <div class="form-group">
                        <label for="email">E-Mail Address</label>
                        <input [(ngModel)]="credentials.providedEmail" name="email" type="email" class="form-control"
                            id="email" placeholder="Enter email">
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input [(ngModel)]="credentials.providedPassword" name="password" type="password"
                            class="form-control" id="password" placeholder="Password">

                    </div>
                    <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
                </form>
            </div>

            <div class="col-md-auto">
                <h1>Campus</h1>
                <h1>Store</h1>
                <h1>Login</h1>
            </div>
        </div>

    </div>
</ng-container>